/*=== view 86 ===*/
@font-face { 
	font-family:'FontAwesome';
	src:url('fonts/FontAwesome.eot');
	src:url('fonts/FontAwesome?#iefix') format('embedded-opentype'),
		url('fonts/FontAwesome.woff') format('woff'),
		url('fonts/FontAwesome.ttf') format('truetype'),
		url('fonts/FontAwesome.svg#FontAwesome') format('svg');
	font-weight:normal;
	font-style:normal;
}
.psec_1_2 { background-color:transparent; border:0; padding:35px 0 0; }
#psec_3 { background:none; }
#psec_2 > div > .html_c0 { float:right; padding-top:2px; }

/* social netw */
.socialnw > .i { float:left; }
.socialnw a { color:#fff; font-family:'FontAwesome'; font-size:22px; margin:0 5px; transition:all 0.4s ease 0s; -webkit-transition:all 0.4s ease 0s; }
.socialnw a:hover { color:#FC9319; }

/*menu*/
#psec_3 .b_menu_c_center { float:right; clear:none; }
#psec_3 .b_menu { border-bottom:1px solid #FC9319; }
#psec_3 .b_menu div.center { padding:8px 0; background-color:transparent; border:0; }
#psec_3 .b_menu div.center::before { content:'\2022'; font-family:verdana; color:#FC9319; position:absolute; }
#psec_3 .b_menu div.center > a, #psec_3 .b_menu div.center > span { font-size:14px; color:#fff; padding-left:25px; padding-right:10px; text-transform:uppercase; }
#psec_3 .b_menu > ul > li { border-top:0 !important; position:relative; }
#psec_3 .b_menu > ul > li:first-child > div > div > div::before { display:none; }
#psec_3 .b_menu > ul > li:first-child > div > div > div > a, #psec_3 .b_menu > ul > li:first-child > div > div > div > span { padding-left:0; }
#psec_3 .b_menu_item_last div.center > a, #psec_3 .b_menu_item_last div.center > span { padding-right:0; }
#psec_3 .b_menu > ul > li.b_menu_active::after { content:""; position:absolute; bottom:0; left:50%; margin-left:5px; width:0; height:0; border-style:solid; border-width:0 5px 6px 5px; border-color:transparent transparent #ff9100 transparent; }
#psec_3 .b_menu > ul > li > ul { box-shadow:none; }
#psec_3 .b_menu > ul > li > ul::before, #psec_3 .b_menu > ul > li > ul::after { display:none; }
#psec_3 .b_menu > ul > li ul { background:rgba(0,0,0,.5); border-top:1px solid #FC9319; }
#psec_3 .b_menu > ul > li ul li { background:none; }
#psec_3 .b_menu > ul > li ul li a, #psec_3 .b_menu > ul > li ul li span { color:#fff; }
#psec_3 .b_menu a:hover, #psec_3 .b_menu span:hover { color:#FC9319 !important; }

/*login bar*/
.lgb_a { color:#fff; }
.lgb_c { float:none; }
.lgb_c > a { color:#fff; text-transform:uppercase; font-weight:normal;}
.lgb_c > a:first-child, .lgb_welcome { color:#fff; font-weight:normal; }
.lgb_c > a:first-child::before, .lgb_welcome::before { content:'\f007'; color:#fff; font-family:'FontAwesome'; font-size:18px; padding-right:8px; vertical-align:middle; }
.lgb_c > a:nth-child(2)::before { content:'\f08b'; color:#fff; font-family:'FontAwesome'; font-size:18px; padding-right:6px; vertical-align:middle; }
.lgb_c > a:hover, .lgb_c > a:hover::before { color:#FC9319; }

/*search bar*/
.search_c0 { margin-top:0; clear:none; }
.search_c, .prc_search_c, .cls_search_c { background:none; width:auto; position:relative; }
.search_c::after, .prc_search_c::after, .cls_search_c::after { content:'\f002'; color:#fff; font-family:'FontAwesome'; font-size:22px; position:absolute; top:0; right:0; width:32px; text-align:center; z-index:0; }
.search_c:hover::after, .prc_search_c:hover::after, .cls_search_c:hover::after { color:#FC9319; }
.search_text { padding:3px; background:transparent !important; color:#fff !important; text-align:right; }
.search_button { background:none; padding:0; margin:0; height:32px; width:32px; z-index:1; position:relative; }
.searchbar_dropdown { display:none; }

/* banner */
.jssorb05-caption { z-index:1; position:absolute; bottom:30%; left:20%; }
