/*=== view 96 ===*/
.pwrap-h { display:none; }
.psec_1_2 {  background-color:#F3F2F2; }
.psec_1_2 > div { width:1000px; margin:0 auto; }
#psec_1 { width:30%; box-sizing:border-box; }
#psec_2 { width:70%; box-sizing:border-box; }
#psec_3 { padding:0; height:auto; background-color:#F3F2F2; }
#psec_3 > div { width:auto; }

/*menu*/
#psec_2 .b_menu_c_left { float:right; box-sizing:border-box; margin-top:15px; }
#psec_2 .b_menu { float:none; }
#psec_2 .b_menu div.center > a, #psec_2 .b_menu div.center > span { margin-left:0; color:#FAA71D; border-top:1px solid #FAA71D; text-transform:uppercase; padding:12px 24px; height:24px;}
#psec_2 .b_menu_active div.center { color:#fff; }
#psec_2 .b_menu div.center:hover > a { color:#61D225; }
#psec_2 .b_menu div.center { position:relative; padding:0; }
#psec_2 .b_menu div.center::before { content:'\2022'; font-family:verdana; color:#61D225; position:absolute; padding-top: 12px; }
#psec_2 .b_menu > ul > li { border:0 !important; margin:0; box-sizing: border-box; position: relative; }
#psec_2 .b_menu > ul > li:first-child > div > div > div::before { display:none; }
#psec_2 .b_menu > ul > li:first-child  > div > div > div > a, #psec_2 .b_menu > ul > li:first-child  > div > div > div > span { margin-left:0; }
#psec_2 .b_menu .sub-menu-c div.center::after { display:none; content:' '; background:url(img/bkg97.png) no-repeat 0 -113px; width:16px; height:24px; float:right; position:absolute;right:16px;top:10px;}
#psec_2 .b_menu_active::after { content:""; position:absolute; top:0; left:50%; margin-left:-5px; width:0; height:0; border-style:solid; border-width:6px 5px 0 5px; border-color:#FAA71D transparent transparent transparent; }

.b_menu > ul > li > ul > li { background-color:transparent; }
.b_menu > ul > li > ul { background-color:rgba(255,255,255,.95); }


#psec_2 .menu-tip { position:relative; color:#fff; padding:2px 8px; background-color:#61D225; margin-top:-60px; }
#psec_2 .menu-tip::after { content:""; position:absolute; bottom:-6px; left:50%; margin-left:-5px; width:0; height:0; border-style:solid; border-width:6px 5px 0 5px; border-color:#61D225 transparent transparent transparent; }

#psec_2 .b_menu .pink { background-color:#F70195; }
#psec_2 .b_menu .pink::after { border-color:#F70195 transparent transparent transparent; }

#psec_2 .b_menu .orange { background-color:#FAA71D; }
#psec_2 .b_menu .orange::after { border-color:#FAA71D transparent transparent transparent; }

/*login bar*/
#psec_2 .lgb_c { padding-top:10px; }
.lgb_a { color:#111; }
.lgb_c > a, .lgb_welcome a { color:#111; text-transform:uppercase; font-size:16px; font-weight:normal;}
.lgb_c > a:first-child, .lgb_welcome { background:url(img/bkg88.png) no-repeat 0 -2px; padding-left:35px; font-size:16px; color:#111; font-weight:normal;}
.lgb_c > a:nth-child(2) { background:url(img/bkg88.png) no-repeat 20px -37px; padding-left:55px; }

/*search bar*/
.search_c0 { margin-top:10px; clear:none; }
.search_c, .prc_search_c, .cls_search_c { background:none; width:auto; }
.search_text { padding:3px; background:transparent !important; color:#fff !important; text-align:right; }
.search_button { background:url(img/bkg88.png) no-repeat 0 -78px; height:28px; vertical-align:0; width:32px; }
.searchbar_dropdown { display:none; }
.fb_icon { background:url(img/bkg88.png) no-repeat 0 -118px; width:32px; height:28px; float:right; }
.fb_icon > a { display:block; }
.logo_c { text-align:center; }
