/*=== m97 ===*/
#psec_3 { padding:15px 0; background:rgba(80,82,75,0.5); }
.psec_1_2  { background:rgba(80,82,75,0.5); border:0; padding:0; }
.b_menu div.center > a, .b_menu div.center > span { color:#fff; padding-left:25px; padding-right:5px; font-weight:bold; float:left; }
.b_menu div.center { padding:8px 5px; }
.b_menu .sub-menu-c div.center::after { content:' '; background:url(images/bkg97.png) no-repeat 0 -115px; width: 16px; height: 32px; float: right; }
.b_menu > ul > li { border-top:0 !important; }
.b_menu > ul > li:first-child > div > div > div::before { display:none; }
.b_menu > ul > li:first-child > div > div > div > a, .b_menu > ul > li:first-child > div > div > div > span { padding-left:0; }
.b_menu_item_last div.center > a, .b_menu_item_last div.center > span { padding-right:0; }
.b_menu .sub-menu-c:hover a, .b_menu .sub-menu-c:hover span { color:#FC1A19; }
.b_menu .sub-menu-c:hover div.center::after { background-position:0 -162px; }

.lgb_a { color:#fff; }
.lgb_c > a { color:#fff; text-transform:uppercase; font-size:16px; }
.lgb_c > a:first-child, .lgb_welcome { background:url(images/bkg86.png) no-repeat 0 2px; padding-left:35px; font-size:16px; color:#fff; }
.lgb_c > a:nth-child(2) { background:url(images/bkg86.png) no-repeat 20px -35px; padding-left:55px; }

.search_c0 { margin-top:0; clear:none; }
.search_c, .prc_search_c, .cls_search_c { background:none; width:auto; }
.search_text { padding:3px; background:transparent !important; color:#fff !important; text-align:right; }
.search_button { background:url(images/bkg86.png) no-repeat 0 -78px; height:28px; vertical-align:0; width:32px; }
.searchbar_dropdown { display:none; }
.fb_icon { background:url(images/bkg86.png) no-repeat 0 -118px; width:32px; height:28px; float:right; }
.fb_icon > a { display:block; }

.banner_c, .banner > img { width:100%; max-width:1350px; margin:0 auto; }
.nivo-html-caption { position:absolute; top:40%; left:25%; color:#fff; font-size:22px; font-weight:bold; text-shadow:1px 1px 5px #555; line-height:1.5; }
.nivo-html-caption d1, .nivo-html-caption d2 { color:#fff; text-shadow:5px 5px 20px #000; font-size:60px; font-family: arial; }
.nivo-html-caption d2 { font-size:18px; text-shadow:0 0 0; font-weight:normal; }
.nivo-html-caption btn { margin-top:40px; background:url(images/bkg97.png) repeat-x left bottom; height: 35px; padding: 10px 20px; float: left; }
.nivo-html-caption btn a { color:#fff; text-transform:uppercase; }
.nivo-html-caption btn a:hover { color:#f5f5f5; }