<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vap.Properties.Settings.VAPConnectionString1" connectionString="Data Source=(local);Initial Catalog=VAP;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vap.Properties.Settings.VAPConnectionString" connectionString="Data Source=(local);Initial Catalog=VAP;Persist Security Info=True;User ID=sa;Password=qwerty"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>