.m22 main { display:block; margin:0 auto; position:relative; width:1180px; padding:20px 0; }
.m22 ul { position:relative; text-align:center; width:100%; }
.m22 ul.m22-ult { margin:30px 0 30px 0; }
.m22 ul.m22-ulc { margin:30px auto 20px auto; width:960px; }
.m22 .h-title, .m22 .brief { color:#fff; }

@keyframes ccolorani {
 from {background-color:#86A347;}
 to {background-color:#F4B242;}
}

.m22 .rollIn { -webkit-animation-name:rollIn; animation-name:rollIn; }
.m22 .hidden { visibility:hidden; }
.m22 .animated { -webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; visibility:visible !important; }
.m22 .fadeInLeft { -webkit-animation-name:fadeInLeft; animation-name:fadeInLeft; }

.m22-ult > li { color:#fff; font-size:16px; width:1000px; margin:0 auto; position:relative; display:none; }
.m22-ult > li > .p { display:block; margin:0; font-size:16px; font-weight:bold; border:1px solid #A4A2A3; font-weight:300; border-radius:6px; padding:15px 5px 20px 30px; color:#fff; text-align:left; }
.m22-ult > li > .a { content:""; width:0; height:0; border-left:17px solid transparent; border-right:17px solid transparent; border-top:12px solid rgba(255,255,255,1); position:absolute; right:80px; }
.m22-ult > li::after { content:""; width:0; height:0; border-left:15px solid transparent; border-right:15px solid transparent; border-top:15px solid #A4A2A3; position:absolute; left:120px; }

.m22-ult > li.v2::after { left:365px; }
.m22-ult > li.v3::after { left:600px; }
.m22-ult > li.v4::after { left:850px; }

.m22-ult > li::before { content:""; width:0; height:0; border-left:13px solid transparent; border-right:13px solid transparent; border-top:13px solid rgba(0,0,0,.8); opacity:1; position:absolute; left:122px; bottom:-11px; z-index:2; }
.m22-ult > li.v2::before { left:367px; }
.m22-ult > li.v3::before { left:602px; }
.m22-ult > li.v4::before { left:852px; }

.m22-ulc { margin:30px 0; }
.m22-ulc > .item { display:block; cursor:pointer; float:left; background:#86A347 url(img/m22icon.png) no-repeat 60px 3px; color:#fff; box-sizing:border-box; font-size:16px; line-height:24px; margin:0 10px; vertical-align:top; text-align:center; width:220px; padding:65px 20px 12px; }
.m22-ulc > .item2 { background-position:-145px 3px; }
.m22-ulc > .item3 { background-position:-365px 3px; }
.m22-ulc > .item4 { background-position:-575px 3px; }

.m22-ulc > .item > h5 { font-size:18px; font-weight:bold; line-height:22px; margin:0 0 10px 0; }
.m22-ulc .active { border:1px solid #F4B242; }
