<connectionStrings>
  <remove name="wcms_db_connstring"/>
  <remove name="wcms_lvtmvn_connstring"/>
  <remove name="wcms_acc_connstring"/>
  <remove name="wcms_import_connstring"/>
  <!--<add providerName="System.Data.SqlClient" name="wcms_db_connstring" connectionString="Data Source=mssql175.dotvndns.vn;uid=donghodinhvihocsinh_com_sql1;pwd=gbg1T1@2;database=donghodinhvihocsinh_com_lvtm" />-->
  <!--<add name="wcms_db_connstring" providerName="System.Data.SqlClient" connectionString="Data Source=LAMTHIDUYEN-PC\SQLEXPRESS;Initial Catalog=root_db;Integrated Security=True"/>-->
  <add name="wcms_db_connstring" providerName="System.Data.SqlClient" connectionString="Data Source=LAMTHIDUYEN-PC\SQLEXPRESS;uid=sa;pwd=123;Initial Catalog=root_db;"/>
  <add providerName="System.Data.SqlClient" name="wcms_lvtmvn_connstring" connectionString="" />
  <add providerName="System.Data.SqlClient" name="wcms_acc_connstring" connectionString="" />
  <add providerName="System.Data.SqlClient" name="wcms_import_connstring" connectionString="" />
</connectionStrings>