USE [VAP]
GO
/****** Object:  Table [dbo].[V_CATEGORY]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_CATEGORY](
	[CATEGORY_CD] [nvarchar](30) NOT NULL,
	[CATEGORY_NAME] [nvarchar](200) NULL,
	[SORT_ORDER] [int] NULL,
	[CATEGORY_LEVEL] [int] NULL,
	[PARENT_CATEGORY_CD] [nvarchar](30) NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_V_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[V_CATEGORY] ([CATEGORY_CD], [CATEGORY_NAME], [SORT_ORDER], [CATEGORY_LEVEL], [PARENT_CATEGORY_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'03a0386df62849738577e63289dac4', N'3', 0, 0, NULL, 0, CAST(0x0000A11B011FB57B AS DateTime), 81, CAST(0x0000A11B011FB57B AS DateTime), 81)
INSERT [dbo].[V_CATEGORY] ([CATEGORY_CD], [CATEGORY_NAME], [SORT_ORDER], [CATEGORY_LEVEL], [PARENT_CATEGORY_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'5018fb7a94cc478089e2512f4eb083', N'23', 0, 0, N'03a0386df62849738577e63289dac4', 0, CAST(0x0000A11B011F49BA AS DateTime), 81, CAST(0x0000A11B011FD820 AS DateTime), 81)
INSERT [dbo].[V_CATEGORY] ([CATEGORY_CD], [CATEGORY_NAME], [SORT_ORDER], [CATEGORY_LEVEL], [PARENT_CATEGORY_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'e39a017441374c3a8f74b217d23127', N'4', 0, 0, N'03a0386df62849738577e63289dac4', 0, CAST(0x0000A11B011FC52D AS DateTime), 81, CAST(0x0000A11B011FC52D AS DateTime), 81)
/****** Object:  Table [dbo].[T_SALARY_CALCULATION_FINAL]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_SALARY_CALCULATION_FINAL](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[FINAL_FLG] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_SALARY_CALCULATION_FINAL] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_SALARY_CALCULATION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_SALARY_CALCULATION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[FILE_ID] [int] NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[NEW_BASE_AD] [char](10) NULL,
	[NEW_BASE_FIANL] [char](10) NULL,
	[NEW_ALLOWANCE] [char](10) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_SALARY_CALCULATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[FILE_ID] ASC,
	[ASSESSMENT_YEAR] ASC,
	[STAFF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_BONUS_SALARY_PASSCODE]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_BONUS_SALARY_PASSCODE](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[PASSWORD] [varchar](max) NULL,
	[FINAL_FLG] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_BONUS_SALARY_PASSCODE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_BONUS_CALCULATION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_BONUS_CALCULATION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[FILE_ID] [int] NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[NEW_BONUS] [char](10) NULL,
	[NEW_BONUS_ADJ] [int] NULL,
	[NEW_BONUS_FIANL] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_BONUS_CALCULATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[FILE_ID] ASC,
	[ASSESSMENT_YEAR] ASC,
	[STAFF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_BAND_PROMOTION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_BAND_PROMOTION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[FILE_ID] [int] NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[CURRENT_BAND] [text] NULL,
	[NEW_BAND] [text] NULL,
	[PROMOTION] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_BAND_PROMOTION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[FILE_ID] ASC,
	[ASSESSMENT_YEAR] ASC,
	[STAFF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_ASSESSMENT_GOAL]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_ASSESSMENT_GOAL](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[GOAL1] [text] NULL,
	[GOAL2] [text] NULL,
	[GOAL3] [text] NULL,
	[GOAL4] [text] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_ASSESSMENT_GOAL_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_LOG]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_LOG](
	[LOG_CD] [nvarchar](30) NOT NULL,
	[LOG_TYPE] [nvarchar](10) NULL,
	[SCREEN_NAME] [nvarchar](50) NULL,
	[ACTION_TYPE] [nvarchar](10) NULL,
	[LOG_DATA] [nvarchar](500) NULL,
	[LOG_DATE] [datetime] NULL,
	[DEL_FLG] [bit] NOT NULL,
	[PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[T_LOG] ([LOG_CD], [LOG_TYPE], [SCREEN_NAME], [ACTION_TYPE], [LOG_DATA], [LOG_DATE], [DEL_FLG], [PERSON_CD]) VALUES (N'13ad6a4714c74e72bdc1aa2077e232', N'Admin', N'Product Category', N'Added', N'9', CAST(0x0000A11B00B7C79C AS DateTime), 0, 81)
INSERT [dbo].[T_LOG] ([LOG_CD], [LOG_TYPE], [SCREEN_NAME], [ACTION_TYPE], [LOG_DATA], [LOG_DATE], [DEL_FLG], [PERSON_CD]) VALUES (N'203d0a54e7a64f3c8f6a737ed7bceb', N'Admin', N'Product Category', N'Added', N'7', CAST(0x0000A11B00B7C055 AS DateTime), 0, 81)
INSERT [dbo].[T_LOG] ([LOG_CD], [LOG_TYPE], [SCREEN_NAME], [ACTION_TYPE], [LOG_DATA], [LOG_DATE], [DEL_FLG], [PERSON_CD]) VALUES (N'21f989f41471496195dd8e902a5394', N'Admin', N'Product Category', N'Added', N'6', CAST(0x0000A11B00B7B963 AS DateTime), 0, 81)
/****** Object:  Table [dbo].[T_FILETRACKING]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_FILETRACKING](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[FILE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FILENAME] [varchar](100) NULL,
	[FILE_CREATE_DATE] [datetime] NULL,
	[DIRECTION] [varchar](10) NULL,
	[BATCH_NO] [bigint] NOT NULL,
	[BATCH_TYPE] [text] NULL,
	[FILE_URL] [text] NULL,
	[STATUS] [text] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_FILETRACKING] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[FILE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[T_FILETRACKING] ON
INSERT [dbo].[T_FILETRACKING] ([COMPANY_CD], [FILE_ID], [FILENAME], [FILE_CREATE_DATE], [DIRECTION], [BATCH_NO], [BATCH_TYPE], [FILE_URL], [STATUS], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KAO', 1, N'QLNVTV_Mo ta Tong quan Chuc nang_210312.xlsx', CAST(0x0000A0880007CB47 AS DateTime), N'UL', 3, N'QUESTION', N'C:\Users\Ryan\Desktop\HRA_KUMON\HRA_KUMON\App_Docs\QLNVTV_Mo ta Tong quan Chuc nang_210312.xlsx', N'NEW', CAST(0x0000A0880007CB47 AS DateTime), 9, CAST(0x0000A0880007F096 AS DateTime), 9)
INSERT [dbo].[T_FILETRACKING] ([COMPANY_CD], [FILE_ID], [FILENAME], [FILE_CREATE_DATE], [DIRECTION], [BATCH_NO], [BATCH_TYPE], [FILE_URL], [STATUS], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KAO', 2, N'QUESTION_1.xlsx', CAST(0x0000A088000AA08E AS DateTime), N'UL', 4, N'QUESTION', N'C:\Users\Ryan\Desktop\HRA_KUMON\HRA_KUMON\App_Docs\QUESTION_1.xlsx', N'NEW', CAST(0x0000A088000AA08E AS DateTime), 9, CAST(0x0000A088000ADA39 AS DateTime), 9)
INSERT [dbo].[T_FILETRACKING] ([COMPANY_CD], [FILE_ID], [FILENAME], [FILE_CREATE_DATE], [DIRECTION], [BATCH_NO], [BATCH_TYPE], [FILE_URL], [STATUS], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KAO', 3, N'ATS_11001_KAO_2012.xls', CAST(0x0000A088009D781A AS DateTime), N'DL', 0, NULL, NULL, NULL, CAST(0x0000A088009D781A AS DateTime), 9, CAST(0x0000A088009D781A AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[T_FILETRACKING] OFF
/****** Object:  Table [dbo].[MSG_USERS_CONTACTS]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSG_USERS_CONTACTS](
	[USER_ID] [int] NOT NULL,
	[FRIEND_ID] [int] NOT NULL,
	[TOBE_FRIEND_DATE] [datetime] NULL,
 CONSTRAINT [PK_MSG_USERS_CONTACTS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[FRIEND_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MSG_SUBJECT]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MSG_SUBJECT](
	[SUBJECT_ID] [varchar](20) NOT NULL,
	[SUBJECT] [nvarchar](250) NULL,
	[IS_PRIVATE_MESSAGE] [tinyint] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [int] NULL,
 CONSTRAINT [PK_MSG_THREAD] PRIMARY KEY CLUSTERED 
(
	[SUBJECT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is_private_message to mark is message sent to many user or the person.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MSG_SUBJECT', @level2type=N'COLUMN',@level2name=N'IS_PRIVATE_MESSAGE'
GO
INSERT [dbo].[MSG_SUBJECT] ([SUBJECT_ID], [SUBJECT], [IS_PRIVATE_MESSAGE], [CREATE_DATE], [CREATE_USER_ID]) VALUES (N'2920056d-b8c7-41af-8', N'subject 2', NULL, NULL, NULL)
INSERT [dbo].[MSG_SUBJECT] ([SUBJECT_ID], [SUBJECT], [IS_PRIVATE_MESSAGE], [CREATE_DATE], [CREATE_USER_ID]) VALUES (N'358b7066-db97-459d-9', NULL, NULL, CAST(0x0000A0F7017DE81F AS DateTime), 81)
INSERT [dbo].[MSG_SUBJECT] ([SUBJECT_ID], [SUBJECT], [IS_PRIVATE_MESSAGE], [CREATE_DATE], [CREATE_USER_ID]) VALUES (N'679d8ed0-39de-49be-a', N'subject 4', NULL, NULL, 81)
/****** Object:  Table [dbo].[MSG_GROUPS]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MSG_GROUPS](
	[GROUP_CD] [varchar](20) NOT NULL,
	[GROUP_NAME] [nvarchar](250) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [int] NULL,
 CONSTRAINT [PK_MSG_GROUPS] PRIMARY KEY CLUSTERED 
(
	[GROUP_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MSG_FOLDER]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSG_FOLDER](
	[FOLDER_CD] [nvarchar](20) NOT NULL,
	[FOLDER_NAME] [nvarchar](255) NULL,
	[FOLDER_TYPE] [tinyint] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_USER_ID] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_MSG_FOLDER] PRIMARY KEY CLUSTERED 
(
	[FOLDER_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Custome folder, 1: system folder' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MSG_FOLDER', @level2type=N'COLUMN',@level2name=N'FOLDER_TYPE'
GO
INSERT [dbo].[MSG_FOLDER] ([FOLDER_CD], [FOLDER_NAME], [FOLDER_TYPE], [DEL_FLG], [CREATE_USER_ID], [CREATE_DATE], [UPDATE_USER_ID], [UPDATE_DATE]) VALUES (N'226e59a055194c988787', N'20121028', 0, 0, 81, CAST(0x0000A0F800923E37 AS DateTime), NULL, NULL)
INSERT [dbo].[MSG_FOLDER] ([FOLDER_CD], [FOLDER_NAME], [FOLDER_TYPE], [DEL_FLG], [CREATE_USER_ID], [CREATE_DATE], [UPDATE_USER_ID], [UPDATE_DATE]) VALUES (N'b5785013f27b4774b948', N'Nguye', 0, 0, 81, CAST(0x0000A0EA011112E7 AS DateTime), NULL, NULL)
INSERT [dbo].[MSG_FOLDER] ([FOLDER_CD], [FOLDER_NAME], [FOLDER_TYPE], [DEL_FLG], [CREATE_USER_ID], [CREATE_DATE], [UPDATE_USER_ID], [UPDATE_DATE]) VALUES (N'd4b42615a8be4fa5b40c', N'NTLam2', 0, 0, 81, CAST(0x0000A0EA0105DEE5 AS DateTime), 81, CAST(0x0000A0EA010C5DFB AS DateTime))
/****** Object:  Table [dbo].[M_STAFF_JOBTITLE]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_STAFF_JOBTITLE](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[JOBTITLE_CD] [int] NOT NULL,
	[JOBTITLE_NAME] [varchar](50) NOT NULL,
	[JOBTITLE_DESC] [varchar](100) NULL,
	[PRESIDENT_FLG] [bit] NOT NULL,
	[GM_FLG] [bit] NOT NULL,
	[DEPUTY_GM_FLG] [bit] NOT NULL,
	[GROUP_LEADER_FLG] [bit] NOT NULL,
	[DIV_LEADER_FLG] [bit] NOT NULL,
	[SEC_LEADER_FLG] [bit] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_STAFF_JOBTITLE] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[JOBTITLE_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_STAFF_JOBTITLE] ([COMPANY_CD], [JOBTITLE_CD], [JOBTITLE_NAME], [JOBTITLE_DESC], [PRESIDENT_FLG], [GM_FLG], [DEPUTY_GM_FLG], [GROUP_LEADER_FLG], [DIV_LEADER_FLG], [SEC_LEADER_FLG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 601, N'PRESIDENT', N'PRESIDENT', 1, 1, 0, 0, 0, 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_STAFF_JOBTITLE] ([COMPANY_CD], [JOBTITLE_CD], [JOBTITLE_NAME], [JOBTITLE_DESC], [PRESIDENT_FLG], [GM_FLG], [DEPUTY_GM_FLG], [GROUP_LEADER_FLG], [DIV_LEADER_FLG], [SEC_LEADER_FLG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 602, N'VICE PRESIDENT', N'VICE PRESIDENT', 0, 1, 0, 0, 0, 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_STAFF_JOBTITLE] ([COMPANY_CD], [JOBTITLE_CD], [JOBTITLE_NAME], [JOBTITLE_DESC], [PRESIDENT_FLG], [GM_FLG], [DEPUTY_GM_FLG], [GROUP_LEADER_FLG], [DIV_LEADER_FLG], [SEC_LEADER_FLG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 603, N'GENERAL MANAGER', N'GENERAL MANAGER', 0, 1, 0, 0, 0, 0, 0, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[M_ORIGIN]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_ORIGIN](
	[ORIGIN_ID] [int] NOT NULL,
	[ORIGIN_NAME] [char](100) NULL,
	[DEL_FLG] [bit] NOT NULL,
 CONSTRAINT [PK_M_ORIGIN] PRIMARY KEY CLUSTERED 
(
	[ORIGIN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nguon goc cua cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_ORIGIN'
GO
INSERT [dbo].[M_ORIGIN] ([ORIGIN_ID], [ORIGIN_NAME], [DEL_FLG]) VALUES (1, N'SGK 1                                                                                               ', 0)
/****** Object:  Table [dbo].[M_SECTION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_SECTION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[SECTION_CD] [varchar](10) NOT NULL,
	[SECTION_NAME] [varchar](50) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_SECTION_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[SECTION_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_SECTION] ([COMPANY_CD], [SECTION_CD], [SECTION_NAME], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', N'UNKNOWN', N'Section Unknown', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_SECTION] ([COMPANY_CD], [SECTION_CD], [SECTION_NAME], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KAO', N'ACS', N'Account Section', 10, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_SECTION] ([COMPANY_CD], [SECTION_CD], [SECTION_NAME], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KAO', N'ASS', N'Administration Support', 4, 0, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[M_ROLE]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_ROLE](
	[ROLE_CD] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [varchar](50) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[ALL_COMPANY_FLAG] [bit] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[M_ROLE] ON
INSERT [dbo].[M_ROLE] ([ROLE_CD], [ROLE_NAME], [SORT_ORDER], [ALL_COMPANY_FLAG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (1, N'Super User', 1, 0, 0, NULL, NULL, CAST(0x0000A0F3017EA714 AS DateTime), 81)
INSERT [dbo].[M_ROLE] ([ROLE_CD], [ROLE_NAME], [SORT_ORDER], [ALL_COMPANY_FLAG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (2, N'System Administrator', 2, 0, 0, NULL, NULL, CAST(0x0000A11401441799 AS DateTime), 81)
INSERT [dbo].[M_ROLE] ([ROLE_CD], [ROLE_NAME], [SORT_ORDER], [ALL_COMPANY_FLAG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (3, N'Power User / GM', 3, 0, 0, NULL, NULL, CAST(0x0000A0F3017ECA4A AS DateTime), 81)
SET IDENTITY_INSERT [dbo].[M_ROLE] OFF
/****** Object:  Table [dbo].[M_QUESTION_TYPE]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_QUESTION_TYPE](
	[QUES_TYPE_ID] [int] NOT NULL,
	[QUES_TYPE_NAME] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_ID] [int] NULL,
 CONSTRAINT [PK_M_QUESTION_TYPE] PRIMARY KEY CLUSTERED 
(
	[QUES_TYPE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'single choice, multi choice, free comment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION_TYPE', @level2type=N'COLUMN',@level2name=N'QUES_TYPE_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'trac nghiem hoac tu luan, hoac multi check' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION_TYPE'
GO
INSERT [dbo].[M_QUESTION_TYPE] ([QUES_TYPE_ID], [QUES_TYPE_NAME], [CREATE_DATE], [CREATE_PERSON_ID], [UPDATE_DATE], [UPDATE_PERSON_ID]) VALUES (1, N'Single Choice', NULL, NULL, NULL, NULL)
INSERT [dbo].[M_QUESTION_TYPE] ([QUES_TYPE_ID], [QUES_TYPE_NAME], [CREATE_DATE], [CREATE_PERSON_ID], [UPDATE_DATE], [UPDATE_PERSON_ID]) VALUES (2, N'De Thi Trac Nghiem Tin Hoc Dai Cuong', NULL, NULL, NULL, NULL)
INSERT [dbo].[M_QUESTION_TYPE] ([QUES_TYPE_ID], [QUES_TYPE_NAME], [CREATE_DATE], [CREATE_PERSON_ID], [UPDATE_DATE], [UPDATE_PERSON_ID]) VALUES (3, N'ĐỀ THI TIN HỌC ỨNG DỤNG', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[M_QUESTION_LEVEL]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_QUESTION_LEVEL](
	[QUES_LEVEL_ID] [int] NOT NULL,
	[QUES_LEVEL_NAME] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_ID] [int] NULL,
	[DEL_FLG] [bit] NOT NULL,
 CONSTRAINT [PK_M_QUESTION_LEVEL] PRIMARY KEY CLUSTERED 
(
	[QUES_LEVEL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cap do cua cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION_LEVEL'
GO
INSERT [dbo].[M_QUESTION_LEVEL] ([QUES_LEVEL_ID], [QUES_LEVEL_NAME], [CREATE_DATE], [CREATE_PERSON_ID], [UPDATE_DATE], [UPDATE_PERSON_ID], [DEL_FLG]) VALUES (1, N'Easy', NULL, NULL, NULL, NULL, 0)
/****** Object:  Table [dbo].[M_QUESTION_CATEGORY]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_QUESTION_CATEGORY](
	[CATEGORY_ID] [int] NOT NULL,
	[CATEGORY_NAME] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_ID] [int] NULL,
	[DEL_FLG] [bit] NULL,
	[PARENT_ID] [int] NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
 CONSTRAINT [PK_M_QUESTION_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loai bai kiem tra' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION_CATEGORY'
GO
INSERT [dbo].[M_QUESTION_CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME], [CREATE_DATE], [CREATE_PERSON_ID], [UPDATE_DATE], [UPDATE_PERSON_ID], [DEL_FLG], [PARENT_ID], [DESCRIPTION]) VALUES (1, N'English', NULL, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[M_QUESTION_CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME], [CREATE_DATE], [CREATE_PERSON_ID], [UPDATE_DATE], [UPDATE_PERSON_ID], [DEL_FLG], [PARENT_ID], [DESCRIPTION]) VALUES (2, N'Informatic', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[M_BONUS_SALARY_SA]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_BONUS_SALARY_SA](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[CURRENT_AVG_AMOUNT] [numeric](10, 2) NOT NULL,
	[CURRENT_AVG_PERCENT] [numeric](10, 2) NOT NULL,
	[INCREMENT_AVG_AMOUNT] [numeric](10, 2) NOT NULL,
	[INCREMENT_AVG_PERCENT] [numeric](10, 2) NOT NULL,
	[NEW_AMOUNT_AVG] [numeric](10, 2) NOT NULL,
	[NEW_AMOUNT_PERCENT] [numeric](10, 2) NOT NULL,
	[BAND_B3_NOPROMO_IIB_FIX] [numeric](10, 2) NOT NULL,
	[BAND_B2_NOPROMO_IIC_FIX] [numeric](10, 2) NOT NULL,
	[BAND_B2_I_IIC_FIX] [numeric](10, 2) NOT NULL,
	[BAND_B1_IIC_IIB_FIX] [numeric](10, 2) NOT NULL,
	[BAND_B1_IIA_IIIC_FIX] [numeric](10, 2) NOT NULL,
	[BAND_A2_NOPROMO_IIA_FIX] [numeric](10, 2) NOT NULL,
	[BAND_B3_NOPROMO_IIB_PERCENT] [numeric](10, 2) NOT NULL,
	[BAND_B2_NOPROMO_IIC_PERCENT] [numeric](10, 2) NOT NULL,
	[BAND_B2_I_IIC_PERCENT] [numeric](10, 2) NOT NULL,
	[BAND_B1_IIC_IIB_PERCENT] [numeric](10, 2) NOT NULL,
	[BAND_B1_IIA_IIIC_PERCENT] [numeric](10, 2) NOT NULL,
	[BAND_A2_NOPROMO_IIA_PERCENT] [numeric](10, 2) NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_BONUS_SALARY_SA] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_BONUS_SALARY_PROMOTION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_BONUS_SALARY_PROMOTION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[BASIC_AMOUNT] [numeric](10, 2) NOT NULL,
	[BAND_I_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIC_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIB_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIA_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIIC_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIIB_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIIA_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IV_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_I_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIC_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIB_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIA_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIIC_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIIB_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIIA_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IV_FINALRATIO] [numeric](10, 2) NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_BONUS_SALARY_PROMOTION_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_BONUS_SALARY_PI]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_BONUS_SALARY_PI](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[AVG_RATIO_SALARY] [numeric](10, 2) NOT NULL,
	[AVG_RATIO_BONUS_MONTH] [numeric](10, 2) NOT NULL,
	[BAND_C1_VARIATION_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_B3_VARIATION_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_B2_VARIATION_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_B1_VARIATION_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_A2_VARIATION_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_A1_VARIATION_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_C1_VARIATION_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_B3_VARIATION_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_B2_VARIATION_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_B1_VARIATION_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_A2_VARIATION_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_A1_VARIATION_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_C1_FINALRATIO_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_B3_FINALRATIO_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_B2_FINALRATIO_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_B1_FINALRATIO_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_A2_FINALRATIO_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_A1_FINALRATIO_SALARY] [numeric](10, 2) NOT NULL,
	[BAND_C1_FINALRATIO_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_B3_FINALRATIO_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_B2_FINALRATIO_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_B1_FINALRATIO_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_A2_FINALRATIO_BONUS] [numeric](10, 2) NOT NULL,
	[BAND_A1_FINALRATIO_BONUS] [numeric](10, 2) NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_BONUS_SALARY_PI_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_BONUS_SALARY_BASEUP]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_BONUS_SALARY_BASEUP](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[COUNTRY_EXPECTED_RATIO] [numeric](10, 2) NOT NULL,
	[BASEUP_RATE] [numeric](10, 2) NOT NULL,
	[GAP_RATE] [numeric](10, 2) NULL,
	[COMMENT] [varchar](200) NULL,
	[BAND_I_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIC_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIB_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIA_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIIC_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIIB_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IIIA_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_IV_VARIATION] [numeric](10, 2) NOT NULL,
	[BAND_I_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIC_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIB_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIA_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIIC_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIIB_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IIIA_FINALRATIO] [numeric](10, 2) NOT NULL,
	[BAND_IV_FINALRATIO] [numeric](10, 2) NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_BONUS_SALARY_BASEUP_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_ASSESSMENT_YEAR]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_ASSESSMENT_YEAR](
	[COMPANY_CD] [char](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [char](10) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [char](10) NULL,
 CONSTRAINT [PK_M_ASSESSMENT_YEAR_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_MENU]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_MENU](
	[MENU_CD] [int] IDENTITY(1,1) NOT NULL,
	[MENU_NAME] [varchar](60) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[MENU_LEVEL] [int] NULL,
	[MENU_TYPE] [varchar](50) NULL,
	[URL] [varchar](100) NULL,
	[PARENT_MENU_CD] [int] NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_MENU] PRIMARY KEY CLUSTERED 
(
	[MENU_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[M_MENU] ON
INSERT [dbo].[M_MENU] ([MENU_CD], [MENU_NAME], [SORT_ORDER], [MENU_LEVEL], [MENU_TYPE], [URL], [PARENT_MENU_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (1, N'Home   ', 10, 1, N'Analysis of Evaluation Result', N'Home/Index', NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_MENU] ([MENU_CD], [MENU_NAME], [SORT_ORDER], [MENU_LEVEL], [MENU_TYPE], [URL], [PARENT_MENU_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (61, N'System Setting', 101, 1, N'Master Data Maintenance', N'M0101/Index                                                                                 ', NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_MENU] ([MENU_CD], [MENU_NAME], [SORT_ORDER], [MENU_LEVEL], [MENU_TYPE], [URL], [PARENT_MENU_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (63, N'User Role', 110, 1, N'Master Data Maintenance', N'M0110/Index', NULL, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[M_MENU] OFF
/****** Object:  Table [dbo].[M_GROUP]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_GROUP](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[GROUP_CD] [varchar](10) NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_GROUP_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[GROUP_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_GROUP] ([COMPANY_CD], [GROUP_CD], [GROUP_NAME], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', N'FDT1', N'Field Development Team', 2, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_GROUP] ([COMPANY_CD], [GROUP_CD], [GROUP_NAME], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', N'FDT2', N'Field Development Team', 3, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_GROUP] ([COMPANY_CD], [GROUP_CD], [GROUP_NAME], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', N'FDT3', N'Field Development Team', 4, 0, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[M_EVALUATION_RATIO]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_EVALUATION_RATIO](
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[STAFF_BAND_CATEGORY] [int] NOT NULL,
	[STAFF_BAND] [varchar](10) NOT NULL,
	[INDIVIDUAL_RATIO] [int] NULL,
	[TEAM_RATIO] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_EVALUATION_RATIO_1] PRIMARY KEY CLUSTERED 
(
	[ASSESSMENT_YEAR] ASC,
	[STAFF_BAND_CATEGORY] ASC,
	[STAFF_BAND] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_EVALUATION_RATIO] ([ASSESSMENT_YEAR], [STAFF_BAND_CATEGORY], [STAFF_BAND], [INDIVIDUAL_RATIO], [TEAM_RATIO], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (2011, 1, N'I', 5, 5, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_EVALUATION_RATIO] ([ASSESSMENT_YEAR], [STAFF_BAND_CATEGORY], [STAFF_BAND], [INDIVIDUAL_RATIO], [TEAM_RATIO], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (2011, 2, N'IIA', 3, 7, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_EVALUATION_RATIO] ([ASSESSMENT_YEAR], [STAFF_BAND_CATEGORY], [STAFF_BAND], [INDIVIDUAL_RATIO], [TEAM_RATIO], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (2011, 2, N'IIB', 3, 7, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[M_EDUCATION_QUALIFICATION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_EDUCATION_QUALIFICATION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[QUALIFICATION_CD] [int] IDENTITY(1,1) NOT NULL,
	[QUALIFICATION_DESC] [varchar](100) NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_EDUCATION_QUALIFICATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[QUALIFICATION_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[M_EDUCATION_QUALIFICATION] ON
INSERT [dbo].[M_EDUCATION_QUALIFICATION] ([COMPANY_CD], [QUALIFICATION_CD], [QUALIFICATION_DESC], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 166, N'Primary School', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_EDUCATION_QUALIFICATION] ([COMPANY_CD], [QUALIFICATION_CD], [QUALIFICATION_DESC], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 167, N'Secondary School', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_EDUCATION_QUALIFICATION] ([COMPANY_CD], [QUALIFICATION_CD], [QUALIFICATION_DESC], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 168, N'Vocational Education and Training ', 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[M_EDUCATION_QUALIFICATION] OFF
/****** Object:  Table [dbo].[M_DIVISION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_DIVISION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[DIVISION_CD] [varchar](10) NOT NULL,
	[DIVISION_NAME] [varchar](50) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[PARENT_DIVISION_CD] [varchar](10) NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_DIVISION_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[DIVISION_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_DIVISION] ([COMPANY_CD], [DIVISION_CD], [DIVISION_NAME], [SORT_ORDER], [PARENT_DIVISION_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', N'ACD', N'Accounts', 11, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_DIVISION] ([COMPANY_CD], [DIVISION_CD], [DIVISION_NAME], [SORT_ORDER], [PARENT_DIVISION_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', N'FSD', N'National Administration', 9, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_DIVISION] ([COMPANY_CD], [DIVISION_CD], [DIVISION_NAME], [SORT_ORDER], [PARENT_DIVISION_CD], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', N'HRD', N'HR', 12, NULL, 0, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[M_CURRENCY]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_CURRENCY](
	[CURRENCY_CD] [varchar](10) NOT NULL,
	[CURRENCY] [char](3) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[CURRENCY_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_CURRENCY] ([CURRENCY_CD], [CURRENCY], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'AUD', N'AUD', 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_CURRENCY] ([CURRENCY_CD], [CURRENCY], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'IDR', N'IDR', 2, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_CURRENCY] ([CURRENCY_CD], [CURRENCY], [SORT_ORDER], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'INR', N'INR', 3, 0, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[M_COUNTRY]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_COUNTRY](
	[COUNTRY_CD] [varchar](10) NOT NULL,
	[COUNTRY_NAME] [varchar](100) NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_COUNTRY] ([COUNTRY_CD], [COUNTRY_NAME], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'AD', N' Andorra', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_COUNTRY] ([COUNTRY_CD], [COUNTRY_NAME], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'AE', N' United Arab Emirates', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_COUNTRY] ([COUNTRY_CD], [COUNTRY_NAME], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'AF', N' Afghanistan', 0, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[M_STATE_PROVINCE]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_STATE_PROVINCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_CD] [varchar](10) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ABBREVIATION] [nvarchar](100) NULL,
	[DEL_FLG] [bit] NOT NULL,
	[DISPLAY_ORDER] [int] NOT NULL,
 CONSTRAINT [PK__M_STATE___3214EC2725518C17] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[M_STATE_PROVINCE] ON
INSERT [dbo].[M_STATE_PROVINCE] ([ID], [COUNTRY_CD], [NAME], [ABBREVIATION], [DEL_FLG], [DISPLAY_ORDER]) VALUES (1, N'US', N'AA (Armed Forces Americas)', N'AA', 1, 1)
INSERT [dbo].[M_STATE_PROVINCE] ([ID], [COUNTRY_CD], [NAME], [ABBREVIATION], [DEL_FLG], [DISPLAY_ORDER]) VALUES (2, N'US', N'AE (Armed Forces Europe)', N'AE', 1, 1)
INSERT [dbo].[M_STATE_PROVINCE] ([ID], [COUNTRY_CD], [NAME], [ABBREVIATION], [DEL_FLG], [DISPLAY_ORDER]) VALUES (3, N'US', N'Alabama', N'AL', 1, 1)
SET IDENTITY_INSERT [dbo].[M_STATE_PROVINCE] OFF
/****** Object:  Table [dbo].[M_COMPANY]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_COMPANY](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[COMPANY_NAME] [varchar](100) NOT NULL,
	[GM_STAFF_CD] [int] NULL,
	[COMPANY_ADDR1] [varchar](100) NOT NULL,
	[COMPANY_ADDR2] [varchar](100) NULL,
	[COMPANY_PHONE] [text] NULL,
	[COMPANY_FAX] [text] NULL,
	[COUNTRY_CD] [varchar](10) NOT NULL,
	[CURRENCY_CD] [varchar](10) NOT NULL,
	[CURRENCY_UNIT] [int] NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
	[LAST_STAFF_ID] [int] NULL,
 CONSTRAINT [PK_M_COMPANY_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_COMPANY] ([COMPANY_CD], [COMPANY_NAME], [GM_STAFF_CD], [COMPANY_ADDR1], [COMPANY_ADDR2], [COMPANY_PHONE], [COMPANY_FAX], [COUNTRY_CD], [CURRENCY_CD], [CURRENCY_UNIT], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD], [LAST_STAFF_ID]) VALUES (N'KANZ', N'Kumon Australia & New Zealand', 64001, N'Unit 5, Building C, 11 Lord Street Bontany NSW 2019, Australia', N'', N'+61294672200', N'', N'AU', N'AUD', 1, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_COMPANY] ([COMPANY_CD], [COMPANY_NAME], [GM_STAFF_CD], [COMPANY_ADDR1], [COMPANY_ADDR2], [COMPANY_PHONE], [COMPANY_FAX], [COUNTRY_CD], [CURRENCY_CD], [CURRENCY_UNIT], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD], [LAST_STAFF_ID]) VALUES (N'KAO', N'Kumon Asia & Oceania Pte Ltd', 11001, N'1 George St, One George Street, #14-04/05/06 Singapore 049145.', N'', N'+6562325855', N'', N'SG', N'SGD', 1, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_COMPANY] ([COMPANY_CD], [COMPANY_NAME], [GM_STAFF_CD], [COMPANY_ADDR1], [COMPANY_ADDR2], [COMPANY_PHONE], [COMPANY_FAX], [COUNTRY_CD], [CURRENCY_CD], [CURRENCY_UNIT], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD], [LAST_STAFF_ID]) VALUES (N'KIE', N'Kumon Institute of Education', 101001, N'Osakaekimae-daini Bldg. 9F 1-2-2 Umeda, kita-ku 530-0001 Japan', N'', N'81647978779', N'81647978785', N'JP', N'JPY', 1000, 0, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[M_STAFF]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_STAFF](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[MIDDLE_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[NICKNAME] [varchar](50) NULL,
	[GENDER] [char](1) NULL,
	[DOB] [datetime] NULL,
	[JOINED_DATE] [datetime] NULL,
	[STAFF_CATEGORY] [varchar](10) NULL,
	[GROUP_CD] [varchar](10) NULL,
	[DIVISION_CD] [varchar](10) NULL,
	[SECTION_CD] [varchar](10) NULL,
	[JOBTITLE_CD] [int] NULL,
	[PHOTOID_URL] [varchar](100) NULL,
	[HOME_TOWN] [varchar](50) NULL,
	[PHOTOID_UPLOAD_DATE] [date] NULL,
	[INSTRUCTOR_ID] [text] NULL,
	[RESIGNATION_DATE] [datetime] NULL,
	[RESIGNATION_REASON] [varchar](200) NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_STAFF_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[STAFF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
/****** Object:  Table [dbo].[M_QUESTION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_QUESTION](
	[QUES_ID] [char](50) NOT NULL,
	[QUES_CONTENT] [text] NULL,
	[ANS_RIGHT] [char](12) NULL,
	[ANS_A] [nvarchar](100) NULL,
	[ANS_B] [nvarchar](100) NULL,
	[ANS_C] [nvarchar](100) NULL,
	[ANS_D] [nvarchar](100) NULL,
	[ANS_E] [nvarchar](100) NULL,
	[ANS_F] [nvarchar](100) NULL,
	[RANK] [int] NOT NULL,
	[QUES_CATEGORY_ID] [int] NOT NULL,
	[QUES_TYPE_ID] [int] NULL,
	[QUES_LEVEL_ID] [int] NULL,
	[ORIGIN_ID] [int] NULL,
	[HINT] [nchar](100) NULL,
	[MORE_DETAIL] [nchar](100) NULL,
	[DESCRIPTION] [nchar](200) NULL,
	[QUES_MARK] [int] NULL,
	[QUES_PARENT_ID] [numeric](18, 0) NULL,
	[COUNTRY_CD] [char](10) NULL,
	[FILE_ID] [int] NULL,
 CONSTRAINT [PK_M_QUESTION] PRIMARY KEY CLUSTERED 
(
	[QUES_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Noi dung cau tra loi A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION', @level2type=N'COLUMN',@level2name=N'ANS_A'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Muc do xuat hien cua cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION', @level2type=N'COLUMN',@level2name=N'RANK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'danh muc cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION', @level2type=N'COLUMN',@level2name=N'QUES_CATEGORY_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thong tro giup cho cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION', @level2type=N'COLUMN',@level2name=N'HINT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'thong tin chi tiet cua cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION', @level2type=N'COLUMN',@level2name=N'MORE_DETAIL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thong tin ghi chu cho cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION', @level2type=N'COLUMN',@level2name=N'DESCRIPTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Do kho cua cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION', @level2type=N'COLUMN',@level2name=N'QUES_MARK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nhom cau hoi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_QUESTION', @level2type=N'COLUMN',@level2name=N'QUES_PARENT_ID'
GO
INSERT [dbo].[M_QUESTION] ([QUES_ID], [QUES_CONTENT], [ANS_RIGHT], [ANS_A], [ANS_B], [ANS_C], [ANS_D], [ANS_E], [ANS_F], [RANK], [QUES_CATEGORY_ID], [QUES_TYPE_ID], [QUES_LEVEL_ID], [ORIGIN_ID], [HINT], [MORE_DETAIL], [DESCRIPTION], [QUES_MARK], [QUES_PARENT_ID], [COUNTRY_CD], [FILE_ID]) VALUES (N'8a7643e827365e8d15291760c90f4e58                  ', N'Trong Excel, d? chèn m?t c?t ta th?c hi?n:', N'c           ', N'Vào menu Insert, chọn Row   ', N'Vào menu Edit, chọn Fill

', N'Vào menu Column, chọn Insert', N'Tất cả đều sai', N'', N'', 0, 1, 1, 1, 1, NULL, NULL, N'ĐỀ THI TIN HỌC ỨNG DỤNG                                                                                                                                                                                 ', NULL, NULL, NULL, 25)
INSERT [dbo].[M_QUESTION] ([QUES_ID], [QUES_CONTENT], [ANS_RIGHT], [ANS_A], [ANS_B], [ANS_C], [ANS_D], [ANS_E], [ANS_F], [RANK], [QUES_CATEGORY_ID], [QUES_TYPE_ID], [QUES_LEVEL_ID], [ORIGIN_ID], [HINT], [MORE_DETAIL], [DESCRIPTION], [QUES_MARK], [QUES_PARENT_ID], [COUNTRY_CD], [FILE_ID]) VALUES (N'92ad8eab035116e2fb89252080caabe2                  ', N'Mu?n ch?y 1 chuong trình trong Windows ta có th?:', N'd           ', N'Vào cửa sổ My computer và Double Click tên chương trình', N'Vào Windows Explorer , click vào tên chương trình và Enter', N'Click Start, Click Run và gỏ đường dẫn đến tên chương trình đó và Enter', N'Các cách trên đều đúng.

', N'', N'', 0, 1, 1, 1, 1, NULL, NULL, N'ĐỀ THI TIN HỌC ỨNG DỤNG                                                                                                                                                                                 ', NULL, NULL, NULL, 25)
INSERT [dbo].[M_QUESTION] ([QUES_ID], [QUES_CONTENT], [ANS_RIGHT], [ANS_A], [ANS_B], [ANS_C], [ANS_D], [ANS_E], [ANS_F], [RANK], [QUES_CATEGORY_ID], [QUES_TYPE_ID], [QUES_LEVEL_ID], [ORIGIN_ID], [HINT], [MORE_DETAIL], [DESCRIPTION], [QUES_MARK], [QUES_PARENT_ID], [COUNTRY_CD], [FILE_ID]) VALUES (N'96846e83eabef975ba369edcebccac4b                  ', N'A1 ch?a giá tr? 4, B1 ch?a 36, C1 ch?a 6. Nh?p vào D1 công th?c: =IF(AND(MOD(B1,A1)=0,MOD(B1,C1)=0),INT(B1/A1),IF(A1>C1,A1,C1)).

Cho bi?t k?t qu? trong ô D1:', N'a           ', N'4', N'6', N'0', N'9', N'', N'', 0, 1, 1, 1, 1, NULL, NULL, N'ĐỀ THI TIN HỌC ỨNG DỤNG                                                                                                                                                                                 ', NULL, NULL, NULL, 25)
/****** Object:  Table [dbo].[M_ORGCHART]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_ORGCHART](
	[ORGCHART_CD] [int] NOT NULL,
	[COMPANY_CD] [varchar](10) NOT NULL,
	[PRESIDENT_CD] [int] NULL,
	[GM_CD] [int] NULL,
	[DEPUTY_GM_CD] [int] NULL,
	[GROUP_CD] [varchar](10) NULL,
	[DIVISION_CD] [varchar](10) NULL,
	[SECTION_CD] [varchar](10) NULL,
	[SORT_ORDER] [int] NULL,
 CONSTRAINT [PK_M_ORGCHART_1] PRIMARY KEY CLUSTERED 
(
	[ORGCHART_CD] ASC,
	[COMPANY_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[M_ORGCHART] ([ORGCHART_CD], [COMPANY_CD], [PRESIDENT_CD], [GM_CD], [DEPUTY_GM_CD], [GROUP_CD], [DIVISION_CD], [SECTION_CD], [SORT_ORDER]) VALUES (1, N'KAO', 11001, 13049, NULL, N'MGM', N'UNKNOWN', N'UNKNOWN', 1)
INSERT [dbo].[M_ORGCHART] ([ORGCHART_CD], [COMPANY_CD], [PRESIDENT_CD], [GM_CD], [DEPUTY_GM_CD], [GROUP_CD], [DIVISION_CD], [SECTION_CD], [SORT_ORDER]) VALUES (2, N'KAO', 11001, 13049, NULL, N'SING', N'FD', N'CEN', 2)
INSERT [dbo].[M_ORGCHART] ([ORGCHART_CD], [COMPANY_CD], [PRESIDENT_CD], [GM_CD], [DEPUTY_GM_CD], [GROUP_CD], [DIVISION_CD], [SECTION_CD], [SORT_ORDER]) VALUES (3, N'KAO', 11001, 13049, NULL, N'SING', N'FD', N'EAS', 3)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[MSG_MESSAGE]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MSG_MESSAGE](
	[MESSAGE_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SUBJECT_ID] [varchar](20) NULL,
	[CONTENTS] [ntext] NULL,
	[SENT_DATE] [datetime] NULL,
	[SENDING_USER_ID] [int] NULL,
 CONSTRAINT [PK_MSG_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MSG_MESSAGE] ON
INSERT [dbo].[MSG_MESSAGE] ([MESSAGE_ID], [SUBJECT_ID], [CONTENTS], [SENT_DATE], [SENDING_USER_ID]) VALUES (CAST(1 AS Numeric(18, 0)), N'819ea26d-3d6b-4e7a-a', N'Message content 1', CAST(0x0000A0C101110BF6 AS DateTime), 1)
INSERT [dbo].[MSG_MESSAGE] ([MESSAGE_ID], [SUBJECT_ID], [CONTENTS], [SENT_DATE], [SENDING_USER_ID]) VALUES (CAST(2 AS Numeric(18, 0)), N'2920056d-b8c7-41af-8', N'Message content 2', CAST(0x0000A0C10111E935 AS DateTime), 1)
INSERT [dbo].[MSG_MESSAGE] ([MESSAGE_ID], [SUBJECT_ID], [CONTENTS], [SENT_DATE], [SENDING_USER_ID]) VALUES (CAST(3 AS Numeric(18, 0)), N'f035861b-679e-40df-a', N'Message content  3', CAST(0x0000A0C1011A5FD6 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[MSG_MESSAGE] OFF
/****** Object:  Table [dbo].[MSG_SUBJECT_PARTICIPANT]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MSG_SUBJECT_PARTICIPANT](
	[SUBJECT_ID] [varchar](20) NOT NULL,
	[USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_MSG_THREAD_PARTICIPANT] PRIMARY KEY CLUSTERED 
(
	[SUBJECT_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mean Person_cd' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MSG_SUBJECT_PARTICIPANT', @level2type=N'COLUMN',@level2name=N'USER_ID'
GO
INSERT [dbo].[MSG_SUBJECT_PARTICIPANT] ([SUBJECT_ID], [USER_ID]) VALUES (N'2920056d-b8c7-41af-8', 1)
INSERT [dbo].[MSG_SUBJECT_PARTICIPANT] ([SUBJECT_ID], [USER_ID]) VALUES (N'2920056d-b8c7-41af-8', 2)
INSERT [dbo].[MSG_SUBJECT_PARTICIPANT] ([SUBJECT_ID], [USER_ID]) VALUES (N'358b7066-db97-459d-9', 81)
/****** Object:  Table [dbo].[T_EVALUATION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_EVALUATION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[ASSESSMENT_YEAR] [int] NOT NULL,
	[ASSESSMENT_TYPE] [varchar](50) NOT NULL,
	[ASSESSMENT_CD] [varchar](10) NOT NULL,
	[FILE_ID] [int] NOT NULL,
	[YEARLY_GOAL] [text] NULL,
	[EVALUATION_POINT_T1] [int] NULL,
	[EVALUATION_POINT_T2] [int] NULL,
	[EVALUATION_POINT_FINAL] [varchar](10) NULL,
	[COMMENTS_T1] [varchar](200) NULL,
	[COMMENTS_T2] [varchar](200) NULL,
	[COMMENTS_FINAL] [varchar](200) NULL,
	[FINAL_FLG] [bit] NULL,
	[EVALUATION_RESULT] [varchar](10) NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_T_EVALUATION] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[ASSESSMENT_YEAR] ASC,
	[ASSESSMENT_TYPE] ASC,
	[ASSESSMENT_CD] ASC,
	[FILE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MSG_USERS_IN_GROUPS]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MSG_USERS_IN_GROUPS](
	[GROUP_CD] [varchar](20) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[FRIEND_ID] [int] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_MSG_USERS_IN_GROUPS] PRIMARY KEY CLUSTERED 
(
	[GROUP_CD] ASC,
	[USER_ID] ASC,
	[FRIEND_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_ROLE_MENU]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ROLE_MENU](
	[ROLE_MENU_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_CD] [int] NOT NULL,
	[MENU_CD] [int] NOT NULL,
	[READONLY] [bit] NOT NULL,
 CONSTRAINT [PK_T_ROLE_MENU] PRIMARY KEY CLUSTERED 
(
	[ROLE_MENU_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_ROLE_MENU] ON
INSERT [dbo].[T_ROLE_MENU] ([ROLE_MENU_ID], [ROLE_CD], [MENU_CD], [READONLY]) VALUES (29, 2, 63, 0)
INSERT [dbo].[T_ROLE_MENU] ([ROLE_MENU_ID], [ROLE_CD], [MENU_CD], [READONLY]) VALUES (30, 2, 1, 0)
INSERT [dbo].[T_ROLE_MENU] ([ROLE_MENU_ID], [ROLE_CD], [MENU_CD], [READONLY]) VALUES (99, 2, 61, 0)
SET IDENTITY_INSERT [dbo].[T_ROLE_MENU] OFF
/****** Object:  Table [dbo].[V_PRODUCT]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_PRODUCT](
	[PRODUCT_CD] [nvarchar](30) NOT NULL,
	[CATEGORY_CD] [nvarchar](30) NULL,
	[PRODUCT_NAME] [nvarchar](200) NULL,
	[PRODUCT_KEYWORD] [nvarchar](200) NULL,
	[PRODUCT_DESCRIPTION] [nvarchar](max) NULL,
	[SORT_ORDER] [int] NULL,
	[PRODUCT_STATUS_CD] [smallint] NOT NULL,
	[DISPLAY_FLG] [bit] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_V_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[V_EXTENSION_ATTRIBUTE]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_EXTENSION_ATTRIBUTE](
	[ATTRIBUTE_CD] [nvarchar](50) NOT NULL,
	[PRODUCT_CD] [nvarchar](30) NOT NULL,
	[ATTRIBUTE_KEY] [nvarchar](50) NULL,
	[ATRRIBUTE_VALUE] [ntext] NULL,
 CONSTRAINT [PK_V_EXTENSION_ATTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[ATTRIBUTE_CD] ASC,
	[PRODUCT_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_STAFF_EMPLOYMENT_HISTORY]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_STAFF_EMPLOYMENT_HISTORY](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[STAFF_EMPLOYMENT_HISTORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[STAFF_BAND] [varchar](10) NULL,
	[JOBTITLE_CD] [int] NOT NULL,
	[SECTION_CD] [varchar](10) NOT NULL,
	[DIVISION_CD] [varchar](10) NOT NULL,
	[BASIC_SALARY] [numeric](10, 2) NULL,
	[ALLOWANCE] [numeric](10, 2) NULL,
	[BONUS] [numeric](10, 2) NULL,
	[EVALUATION_INDIVIDUAL] [varchar](10) NULL,
	[EVALUATION_TEAM] [varchar](10) NULL,
	[EVALUATION_RESULT] [varchar](10) NULL,
 CONSTRAINT [PK_T_STAFF_EMPLOYMENT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[STAFF_EMPLOYMENT_HISTORY_ID] ASC,
	[STAFF_ID] ASC,
	[COMPANY_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_STAFF_EDUCATION]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_STAFF_EDUCATION](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[QUALIFICATION_CD] [int] NOT NULL,
	[INSTITUTION] [varchar](100) NULL,
	[MAJOR] [varchar](100) NULL,
	[YEAR_FROM] [int] NULL,
	[YEAR_TO] [int] NULL,
 CONSTRAINT [PK_T_STAFF_EDUCATION_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[STAFF_ID] ASC,
	[QUALIFICATION_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_STAFF_CONTACT]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_STAFF_CONTACT](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[STAFF_CD] [int] NOT NULL,
	[COMPANY_PHONE] [varchar](50) NULL,
	[COMPANY_MOBILE] [varchar](50) NULL,
	[COMPANY_FAX] [varchar](50) NULL,
	[COMPANY_EMAIL] [varchar](100) NULL,
	[HOME_STREET] [varchar](100) NULL,
	[HOME_DISTRICT] [varchar](50) NULL,
	[HOME_AREA] [varchar](50) NULL,
	[HOME_CITY] [varchar](50) NULL,
	[HOME_STATE] [varchar](50) NULL,
	[HOME_ZIP] [varchar](10) NULL,
	[HOME_COUNTRY_CD] [text] NOT NULL,
 CONSTRAINT [PK_T_STAFF_CONTACT_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[STAFF_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MSG_SUBJECT_FOLDER]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MSG_SUBJECT_FOLDER](
	[SUBJECT_ID] [varchar](20) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[FOLDER_CD] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MSG_MESSAGE_FOLDER_1] PRIMARY KEY CLUSTERED 
(
	[SUBJECT_ID] ASC,
	[USER_ID] ASC,
	[FOLDER_CD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MSG_SUBJECT_FOLDER] ([SUBJECT_ID], [USER_ID], [FOLDER_CD]) VALUES (N'8fec4e97-e5c1-4884-b', 81, N'sentmail')
/****** Object:  Table [dbo].[MSG_MESAGES_USERS]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSG_MESAGES_USERS](
	[MESSAGE_ID] [numeric](18, 0) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[READ_DATE] [datetime] NULL,
	[IS_READ] [tinyint] NULL,
 CONSTRAINT [PK_MSG_MESAGES_USERS] PRIMARY KEY CLUSTERED 
(
	[MESSAGE_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Allow user read this message but want to mark as unread' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MSG_MESAGES_USERS', @level2type=N'COLUMN',@level2name=N'IS_READ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'When message_id & user_id that mean user had been read this message.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MSG_MESAGES_USERS'
GO
INSERT [dbo].[MSG_MESAGES_USERS] ([MESSAGE_ID], [USER_ID], [READ_DATE], [IS_READ]) VALUES (CAST(1 AS Numeric(18, 0)), 1, CAST(0x0000A0C101110BF6 AS DateTime), 1)
INSERT [dbo].[MSG_MESAGES_USERS] ([MESSAGE_ID], [USER_ID], [READ_DATE], [IS_READ]) VALUES (CAST(2 AS Numeric(18, 0)), 1, CAST(0x0000A0C10111E935 AS DateTime), 1)
INSERT [dbo].[MSG_MESAGES_USERS] ([MESSAGE_ID], [USER_ID], [READ_DATE], [IS_READ]) VALUES (CAST(3 AS Numeric(18, 0)), 0, CAST(0x0000A0C1011A5FD6 AS DateTime), 1)
/****** Object:  Table [dbo].[MSG_ATTACHMENT]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSG_ATTACHMENT](
	[ATTACH_ID] [numeric](18, 0) NOT NULL,
	[MESSAGE_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_MSG_ATTACHMENT] PRIMARY KEY CLUSTERED 
(
	[ATTACH_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_STAFF_BAND_SALARY]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_STAFF_BAND_SALARY](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[STAFF_BAND] [varchar](10) NULL,
	[BASIC_SALARY] [numeric](10, 2) NULL,
	[ALLOWANCE] [numeric](10, 2) NULL,
	[BONUS] [numeric](10, 2) NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_STAFF_BAND_SALARY_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[STAFF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_PERSON]    Script Date: 03/17/2013 16:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_PERSON](
	[COMPANY_CD] [varchar](10) NOT NULL,
	[PERSON_CD] [int] IDENTITY(1,1) NOT NULL,
	[STAFF_ID] [int] NOT NULL,
	[ROLE_CD] [int] NOT NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[PASSWORD_SALT] [varchar](50) NULL,
	[LAST_CHANGE_PWD_DATE] [datetime] NULL,
	[RESET_FLG] [bit] NULL,
	[DEL_FLG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_PERSON_CD] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_PERSON_CD] [int] NULL,
 CONSTRAINT [PK_M_PERSON_1] PRIMARY KEY CLUSTERED 
(
	[COMPANY_CD] ASC,
	[PERSON_CD] ASC,
	[STAFF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[M_PERSON] ON
INSERT [dbo].[M_PERSON] ([COMPANY_CD], [PERSON_CD], [STAFF_ID], [ROLE_CD], [USER_ID], [PASSWORD], [PASSWORD_SALT], [LAST_CHANGE_PWD_DATE], [RESET_FLG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 54, 64001, 3, N'64001', N'065591EDDBD83273D99FC981E598C222', N'Z7C9Fs4UfKYEBA==', NULL, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_PERSON] ([COMPANY_CD], [PERSON_CD], [STAFF_ID], [ROLE_CD], [USER_ID], [PASSWORD], [PASSWORD_SALT], [LAST_CHANGE_PWD_DATE], [RESET_FLG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 55, 65003, 5, N'65003', N'3AEFDA2D127718AD6B7BB999DFA8D41C', N'CXdjQaS9RtqQQw==', NULL, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[M_PERSON] ([COMPANY_CD], [PERSON_CD], [STAFF_ID], [ROLE_CD], [USER_ID], [PASSWORD], [PASSWORD_SALT], [LAST_CHANGE_PWD_DATE], [RESET_FLG], [DEL_FLG], [CREATE_DATE], [CREATE_PERSON_CD], [UPDATE_DATE], [UPDATE_PERSON_CD]) VALUES (N'KANZ', 56, 65022, 5, N'65022', N'9473D208452E9B514BBBCFC440018710', N'onM6DnDbXvKwjg==', NULL, NULL, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[M_PERSON] OFF
/****** Object:  Default [DF_V_CATEGORY_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[V_CATEGORY] ADD  CONSTRAINT [DF_V_CATEGORY_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_T_SALARY_CALCULATION_FINAL_FINAL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_SALARY_CALCULATION_FINAL] ADD  CONSTRAINT [DF_T_SALARY_CALCULATION_FINAL_FINAL_FLG]  DEFAULT ((0)) FOR [FINAL_FLG]
GO
/****** Object:  Default [DF_T_BONUS_SALARY_PASSCODE_FINAL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_BONUS_SALARY_PASSCODE] ADD  CONSTRAINT [DF_T_BONUS_SALARY_PASSCODE_FINAL_FLG]  DEFAULT ((0)) FOR [FINAL_FLG]
GO
/****** Object:  Default [DF_T_LOG_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_LOG] ADD  CONSTRAINT [DF_T_LOG_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_T_FILETRACKING_BATCH_NO]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_FILETRACKING] ADD  CONSTRAINT [DF_T_FILETRACKING_BATCH_NO]  DEFAULT ((1)) FOR [BATCH_NO]
GO
/****** Object:  Default [DF_MSG_FOLDER_FOLDER_TYPE]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_FOLDER] ADD  CONSTRAINT [DF_MSG_FOLDER_FOLDER_TYPE]  DEFAULT ((0)) FOR [FOLDER_TYPE]
GO
/****** Object:  Default [DF_MSG_FOLDER_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_FOLDER] ADD  CONSTRAINT [DF_MSG_FOLDER_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_STAFF_JOBTITLE_PRESIDENT_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_JOBTITLE] ADD  CONSTRAINT [DF_M_STAFF_JOBTITLE_PRESIDENT_FLG]  DEFAULT ((0)) FOR [PRESIDENT_FLG]
GO
/****** Object:  Default [DF_M_STAFF_JOBTITLE_GM_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_JOBTITLE] ADD  CONSTRAINT [DF_M_STAFF_JOBTITLE_GM_FLG]  DEFAULT ((0)) FOR [GM_FLG]
GO
/****** Object:  Default [DF_M_STAFF_JOBTITLE_DEPUTY_GM_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_JOBTITLE] ADD  CONSTRAINT [DF_M_STAFF_JOBTITLE_DEPUTY_GM_FLG]  DEFAULT ((0)) FOR [DEPUTY_GM_FLG]
GO
/****** Object:  Default [DF_M_STAFF_JOBTITLE_GROUP_LEADER_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_JOBTITLE] ADD  CONSTRAINT [DF_M_STAFF_JOBTITLE_GROUP_LEADER_FLG]  DEFAULT ((0)) FOR [GROUP_LEADER_FLG]
GO
/****** Object:  Default [DF_M_STAFF_JOBTITLE_DIV_LEADER_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_JOBTITLE] ADD  CONSTRAINT [DF_M_STAFF_JOBTITLE_DIV_LEADER_FLG]  DEFAULT ((0)) FOR [DIV_LEADER_FLG]
GO
/****** Object:  Default [DF_M_STAFF_JOBTITLE_SEC_LEADER_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_JOBTITLE] ADD  CONSTRAINT [DF_M_STAFF_JOBTITLE_SEC_LEADER_FLG]  DEFAULT ((0)) FOR [SEC_LEADER_FLG]
GO
/****** Object:  Default [DF_M_STAFF_JOBTITLE_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_JOBTITLE] ADD  CONSTRAINT [DF_M_STAFF_JOBTITLE_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_SECTION_SORT_ORDER]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_SECTION] ADD  CONSTRAINT [DF_M_SECTION_SORT_ORDER]  DEFAULT ((0)) FOR [SORT_ORDER]
GO
/****** Object:  Default [DF_M_SECTION_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_SECTION] ADD  CONSTRAINT [DF_M_SECTION_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_ROLE_SORT_ORDER]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_ROLE] ADD  CONSTRAINT [DF_M_ROLE_SORT_ORDER]  DEFAULT ((0)) FOR [SORT_ORDER]
GO
/****** Object:  Default [DF_M_ROLE_ALL_COMPANY_FLAG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_ROLE] ADD  CONSTRAINT [DF_M_ROLE_ALL_COMPANY_FLAG]  DEFAULT ((0)) FOR [ALL_COMPANY_FLAG]
GO
/****** Object:  Default [DF_M_ROLE_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_ROLE] ADD  CONSTRAINT [DF_M_ROLE_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_QUESTION_LEVEL_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_QUESTION_LEVEL] ADD  CONSTRAINT [DF_M_QUESTION_LEVEL_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_BONUS_SALARY_SA_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_BONUS_SALARY_SA] ADD  CONSTRAINT [DF_M_BONUS_SALARY_SA_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_BONUS_SALARY_PROMOTION_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_BONUS_SALARY_PROMOTION] ADD  CONSTRAINT [DF_M_BONUS_SALARY_PROMOTION_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_BONUS_SALARY_PI_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_BONUS_SALARY_PI] ADD  CONSTRAINT [DF_M_BONUS_SALARY_PI_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_BONUS_SALARY_BASEUP_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_BONUS_SALARY_BASEUP] ADD  CONSTRAINT [DF_M_BONUS_SALARY_BASEUP_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_ASSESSMENT_YEAR_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_ASSESSMENT_YEAR] ADD  CONSTRAINT [DF_M_ASSESSMENT_YEAR_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_MENU_SORT_ORDER]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_MENU] ADD  CONSTRAINT [DF_M_MENU_SORT_ORDER]  DEFAULT ((0)) FOR [SORT_ORDER]
GO
/****** Object:  Default [DF_M_MENU_MENU_LEVEL]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_MENU] ADD  CONSTRAINT [DF_M_MENU_MENU_LEVEL]  DEFAULT ((1)) FOR [MENU_LEVEL]
GO
/****** Object:  Default [DF_M_MENU_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_MENU] ADD  CONSTRAINT [DF_M_MENU_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_GROUP_SORT_ORDER]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_GROUP] ADD  CONSTRAINT [DF_M_GROUP_SORT_ORDER]  DEFAULT ((0)) FOR [SORT_ORDER]
GO
/****** Object:  Default [DF_M_GROUP_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_GROUP] ADD  CONSTRAINT [DF_M_GROUP_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_EDUCATION_QUALIFICATION_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_EDUCATION_QUALIFICATION] ADD  CONSTRAINT [DF_M_EDUCATION_QUALIFICATION_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_DIVISION_SORT_ORDER]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_DIVISION] ADD  CONSTRAINT [DF_M_DIVISION_SORT_ORDER]  DEFAULT ((0)) FOR [SORT_ORDER]
GO
/****** Object:  Default [DF_M_DIVISION_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_DIVISION] ADD  CONSTRAINT [DF_M_DIVISION_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_CURRENCY_SORT_ORDER]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_CURRENCY] ADD  CONSTRAINT [DF_M_CURRENCY_SORT_ORDER]  DEFAULT ((0)) FOR [SORT_ORDER]
GO
/****** Object:  Default [DF_M_CURRENCY_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_CURRENCY] ADD  CONSTRAINT [DF_M_CURRENCY_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_COUNTRY_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_COUNTRY] ADD  CONSTRAINT [DF_M_COUNTRY_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_COMPANY_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_COMPANY] ADD  CONSTRAINT [DF_M_COMPANY_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_STAFF_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF] ADD  CONSTRAINT [DF_M_STAFF_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_ORGCHART_SORT_ORDER]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_ORGCHART] ADD  CONSTRAINT [DF_M_ORGCHART_SORT_ORDER]  DEFAULT ((0)) FOR [SORT_ORDER]
GO
/****** Object:  Default [DF_T_EVALUATION_FINAL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_EVALUATION] ADD  CONSTRAINT [DF_T_EVALUATION_FINAL_FLG]  DEFAULT ((0)) FOR [FINAL_FLG]
GO
/****** Object:  Default [DF_T_EVALUATION_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_EVALUATION] ADD  CONSTRAINT [DF_T_EVALUATION_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_T_ROLE_MENU_READONLY]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_ROLE_MENU] ADD  CONSTRAINT [DF_T_ROLE_MENU_READONLY]  DEFAULT ((0)) FOR [READONLY]
GO
/****** Object:  Default [DF_V_PRODUCT_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[V_PRODUCT] ADD  CONSTRAINT [DF_V_PRODUCT_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_STAFF_BAND_SALARY_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_BAND_SALARY] ADD  CONSTRAINT [DF_M_STAFF_BAND_SALARY_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  Default [DF_M_PERSON_DEL_FLG]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_PERSON] ADD  CONSTRAINT [DF_M_PERSON_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
/****** Object:  ForeignKey [FK_V_CATEGORY_V_CATEGORY]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[V_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_V_CATEGORY_V_CATEGORY] FOREIGN KEY([PARENT_CATEGORY_CD])
REFERENCES [dbo].[V_CATEGORY] ([CATEGORY_CD])
GO
ALTER TABLE [dbo].[V_CATEGORY] CHECK CONSTRAINT [FK_V_CATEGORY_V_CATEGORY]
GO
/****** Object:  ForeignKey [FK_M_MENU_M_MENU]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_MENU]  WITH CHECK ADD  CONSTRAINT [FK_M_MENU_M_MENU] FOREIGN KEY([PARENT_MENU_CD])
REFERENCES [dbo].[M_MENU] ([MENU_CD])
GO
ALTER TABLE [dbo].[M_MENU] CHECK CONSTRAINT [FK_M_MENU_M_MENU]
GO
/****** Object:  ForeignKey [FK_M_STATE_PROVINCE_M_COUNTRY]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STATE_PROVINCE]  WITH CHECK ADD  CONSTRAINT [FK_M_STATE_PROVINCE_M_COUNTRY] FOREIGN KEY([COUNTRY_CD])
REFERENCES [dbo].[M_COUNTRY] ([COUNTRY_CD])
GO
ALTER TABLE [dbo].[M_STATE_PROVINCE] CHECK CONSTRAINT [FK_M_STATE_PROVINCE_M_COUNTRY]
GO
/****** Object:  ForeignKey [FK_M_COMPANY_M_COUNTRY]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_COMPANY]  WITH CHECK ADD  CONSTRAINT [FK_M_COMPANY_M_COUNTRY] FOREIGN KEY([COUNTRY_CD])
REFERENCES [dbo].[M_COUNTRY] ([COUNTRY_CD])
GO
ALTER TABLE [dbo].[M_COMPANY] CHECK CONSTRAINT [FK_M_COMPANY_M_COUNTRY]
GO
/****** Object:  ForeignKey [FK_M_COMPANY_M_CURRENCY]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_COMPANY]  WITH CHECK ADD  CONSTRAINT [FK_M_COMPANY_M_CURRENCY] FOREIGN KEY([CURRENCY_CD])
REFERENCES [dbo].[M_CURRENCY] ([CURRENCY_CD])
GO
ALTER TABLE [dbo].[M_COMPANY] CHECK CONSTRAINT [FK_M_COMPANY_M_CURRENCY]
GO
/****** Object:  ForeignKey [FK_M_STAFF_M_DIVISION]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF]  WITH CHECK ADD  CONSTRAINT [FK_M_STAFF_M_DIVISION] FOREIGN KEY([COMPANY_CD], [DIVISION_CD])
REFERENCES [dbo].[M_DIVISION] ([COMPANY_CD], [DIVISION_CD])
GO
ALTER TABLE [dbo].[M_STAFF] CHECK CONSTRAINT [FK_M_STAFF_M_DIVISION]
GO
/****** Object:  ForeignKey [FK_M_STAFF_M_GROUP]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF]  WITH CHECK ADD  CONSTRAINT [FK_M_STAFF_M_GROUP] FOREIGN KEY([COMPANY_CD], [GROUP_CD])
REFERENCES [dbo].[M_GROUP] ([COMPANY_CD], [GROUP_CD])
GO
ALTER TABLE [dbo].[M_STAFF] CHECK CONSTRAINT [FK_M_STAFF_M_GROUP]
GO
/****** Object:  ForeignKey [FK_M_STAFF_M_SECTION]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF]  WITH CHECK ADD  CONSTRAINT [FK_M_STAFF_M_SECTION] FOREIGN KEY([COMPANY_CD], [SECTION_CD])
REFERENCES [dbo].[M_SECTION] ([COMPANY_CD], [SECTION_CD])
GO
ALTER TABLE [dbo].[M_STAFF] CHECK CONSTRAINT [FK_M_STAFF_M_SECTION]
GO
/****** Object:  ForeignKey [FK_M_STAFF_M_STAFF_JOBTITLE]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF]  WITH CHECK ADD  CONSTRAINT [FK_M_STAFF_M_STAFF_JOBTITLE] FOREIGN KEY([COMPANY_CD], [JOBTITLE_CD])
REFERENCES [dbo].[M_STAFF_JOBTITLE] ([COMPANY_CD], [JOBTITLE_CD])
GO
ALTER TABLE [dbo].[M_STAFF] CHECK CONSTRAINT [FK_M_STAFF_M_STAFF_JOBTITLE]
GO
/****** Object:  ForeignKey [FK_M_QUESTION_M_ORIGIN]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_M_QUESTION_M_ORIGIN] FOREIGN KEY([ORIGIN_ID])
REFERENCES [dbo].[M_ORIGIN] ([ORIGIN_ID])
GO
ALTER TABLE [dbo].[M_QUESTION] CHECK CONSTRAINT [FK_M_QUESTION_M_ORIGIN]
GO
/****** Object:  ForeignKey [FK_M_QUESTION_M_QUESTION_CATEGORY]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_M_QUESTION_M_QUESTION_CATEGORY] FOREIGN KEY([QUES_CATEGORY_ID])
REFERENCES [dbo].[M_QUESTION_CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[M_QUESTION] CHECK CONSTRAINT [FK_M_QUESTION_M_QUESTION_CATEGORY]
GO
/****** Object:  ForeignKey [FK_M_QUESTION_M_QUESTION_LEVEL]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_M_QUESTION_M_QUESTION_LEVEL] FOREIGN KEY([QUES_LEVEL_ID])
REFERENCES [dbo].[M_QUESTION_LEVEL] ([QUES_LEVEL_ID])
GO
ALTER TABLE [dbo].[M_QUESTION] CHECK CONSTRAINT [FK_M_QUESTION_M_QUESTION_LEVEL]
GO
/****** Object:  ForeignKey [FK_M_QUESTION_M_QUESTION_TYPE]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_M_QUESTION_M_QUESTION_TYPE] FOREIGN KEY([QUES_TYPE_ID])
REFERENCES [dbo].[M_QUESTION_TYPE] ([QUES_TYPE_ID])
GO
ALTER TABLE [dbo].[M_QUESTION] CHECK CONSTRAINT [FK_M_QUESTION_M_QUESTION_TYPE]
GO
/****** Object:  ForeignKey [FK_M_ORGCHART_M_DIVISION]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_ORGCHART]  WITH CHECK ADD  CONSTRAINT [FK_M_ORGCHART_M_DIVISION] FOREIGN KEY([COMPANY_CD], [DIVISION_CD])
REFERENCES [dbo].[M_DIVISION] ([COMPANY_CD], [DIVISION_CD])
GO
ALTER TABLE [dbo].[M_ORGCHART] CHECK CONSTRAINT [FK_M_ORGCHART_M_DIVISION]
GO
/****** Object:  ForeignKey [FK_M_ORGCHART_M_GROUP]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_ORGCHART]  WITH CHECK ADD  CONSTRAINT [FK_M_ORGCHART_M_GROUP] FOREIGN KEY([COMPANY_CD], [GROUP_CD])
REFERENCES [dbo].[M_GROUP] ([COMPANY_CD], [GROUP_CD])
GO
ALTER TABLE [dbo].[M_ORGCHART] CHECK CONSTRAINT [FK_M_ORGCHART_M_GROUP]
GO
/****** Object:  ForeignKey [FK_M_ORGCHART_M_SECTION]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_ORGCHART]  WITH CHECK ADD  CONSTRAINT [FK_M_ORGCHART_M_SECTION] FOREIGN KEY([COMPANY_CD], [SECTION_CD])
REFERENCES [dbo].[M_SECTION] ([COMPANY_CD], [SECTION_CD])
GO
ALTER TABLE [dbo].[M_ORGCHART] CHECK CONSTRAINT [FK_M_ORGCHART_M_SECTION]
GO
/****** Object:  ForeignKey [FK_MSG_MESSAGE_MSG_SUBJECT]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MSG_MESSAGE_MSG_SUBJECT] FOREIGN KEY([SUBJECT_ID])
REFERENCES [dbo].[MSG_SUBJECT] ([SUBJECT_ID])
GO
ALTER TABLE [dbo].[MSG_MESSAGE] CHECK CONSTRAINT [FK_MSG_MESSAGE_MSG_SUBJECT]
GO
/****** Object:  ForeignKey [FK_MSG_SUBJECT_PARTICIPANT_MSG_SUBJECT]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_SUBJECT_PARTICIPANT]  WITH CHECK ADD  CONSTRAINT [FK_MSG_SUBJECT_PARTICIPANT_MSG_SUBJECT] FOREIGN KEY([SUBJECT_ID])
REFERENCES [dbo].[MSG_SUBJECT] ([SUBJECT_ID])
GO
ALTER TABLE [dbo].[MSG_SUBJECT_PARTICIPANT] CHECK CONSTRAINT [FK_MSG_SUBJECT_PARTICIPANT_MSG_SUBJECT]
GO
/****** Object:  ForeignKey [FK_T_EVALUATION_T_FILETRACKING]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_EVALUATION]  WITH CHECK ADD  CONSTRAINT [FK_T_EVALUATION_T_FILETRACKING] FOREIGN KEY([COMPANY_CD], [FILE_ID])
REFERENCES [dbo].[T_FILETRACKING] ([COMPANY_CD], [FILE_ID])
GO
ALTER TABLE [dbo].[T_EVALUATION] CHECK CONSTRAINT [FK_T_EVALUATION_T_FILETRACKING]
GO
/****** Object:  ForeignKey [FK_MSG_USERS_IN_GROUPS_MSG_GROUPS]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_USERS_IN_GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_MSG_USERS_IN_GROUPS_MSG_GROUPS] FOREIGN KEY([GROUP_CD])
REFERENCES [dbo].[MSG_GROUPS] ([GROUP_CD])
GO
ALTER TABLE [dbo].[MSG_USERS_IN_GROUPS] CHECK CONSTRAINT [FK_MSG_USERS_IN_GROUPS_MSG_GROUPS]
GO
/****** Object:  ForeignKey [FK_MSG_USERS_IN_GROUPS_MSG_GROUPS1]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_USERS_IN_GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_MSG_USERS_IN_GROUPS_MSG_GROUPS1] FOREIGN KEY([GROUP_CD])
REFERENCES [dbo].[MSG_GROUPS] ([GROUP_CD])
GO
ALTER TABLE [dbo].[MSG_USERS_IN_GROUPS] CHECK CONSTRAINT [FK_MSG_USERS_IN_GROUPS_MSG_GROUPS1]
GO
/****** Object:  ForeignKey [FK_MSG_USERS_IN_GROUPS_MSG_USERS_CONTACTS]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_USERS_IN_GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_MSG_USERS_IN_GROUPS_MSG_USERS_CONTACTS] FOREIGN KEY([USER_ID], [FRIEND_ID])
REFERENCES [dbo].[MSG_USERS_CONTACTS] ([USER_ID], [FRIEND_ID])
GO
ALTER TABLE [dbo].[MSG_USERS_IN_GROUPS] CHECK CONSTRAINT [FK_MSG_USERS_IN_GROUPS_MSG_USERS_CONTACTS]
GO
/****** Object:  ForeignKey [FK_T_ROLE_MENU_M_MENU]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_ROLE_MENU]  WITH CHECK ADD  CONSTRAINT [FK_T_ROLE_MENU_M_MENU] FOREIGN KEY([MENU_CD])
REFERENCES [dbo].[M_MENU] ([MENU_CD])
GO
ALTER TABLE [dbo].[T_ROLE_MENU] CHECK CONSTRAINT [FK_T_ROLE_MENU_M_MENU]
GO
/****** Object:  ForeignKey [FK_T_ROLE_MENU_M_ROLE]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_ROLE_MENU]  WITH CHECK ADD  CONSTRAINT [FK_T_ROLE_MENU_M_ROLE] FOREIGN KEY([ROLE_CD])
REFERENCES [dbo].[M_ROLE] ([ROLE_CD])
GO
ALTER TABLE [dbo].[T_ROLE_MENU] CHECK CONSTRAINT [FK_T_ROLE_MENU_M_ROLE]
GO
/****** Object:  ForeignKey [FK_V_PRODUCT_V_CATEGORY]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[V_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_V_PRODUCT_V_CATEGORY] FOREIGN KEY([CATEGORY_CD])
REFERENCES [dbo].[V_CATEGORY] ([CATEGORY_CD])
GO
ALTER TABLE [dbo].[V_PRODUCT] CHECK CONSTRAINT [FK_V_PRODUCT_V_CATEGORY]
GO
/****** Object:  ForeignKey [FK_V_EXTENSION_ATTRIBUTE_V_PRODUCT]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[V_EXTENSION_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK_V_EXTENSION_ATTRIBUTE_V_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[V_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[V_EXTENSION_ATTRIBUTE] CHECK CONSTRAINT [FK_V_EXTENSION_ATTRIBUTE_V_PRODUCT]
GO
/****** Object:  ForeignKey [FK_T_STAFF_EMPLOYMENT_HISTORY_M_STAFF]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_STAFF_EMPLOYMENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_T_STAFF_EMPLOYMENT_HISTORY_M_STAFF] FOREIGN KEY([COMPANY_CD], [STAFF_ID])
REFERENCES [dbo].[M_STAFF] ([COMPANY_CD], [STAFF_ID])
GO
ALTER TABLE [dbo].[T_STAFF_EMPLOYMENT_HISTORY] CHECK CONSTRAINT [FK_T_STAFF_EMPLOYMENT_HISTORY_M_STAFF]
GO
/****** Object:  ForeignKey [FK_T_STAFF_EDUCATION_M_EDUCATION_QUALIFICATION]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_STAFF_EDUCATION]  WITH CHECK ADD  CONSTRAINT [FK_T_STAFF_EDUCATION_M_EDUCATION_QUALIFICATION] FOREIGN KEY([COMPANY_CD], [QUALIFICATION_CD])
REFERENCES [dbo].[M_EDUCATION_QUALIFICATION] ([COMPANY_CD], [QUALIFICATION_CD])
GO
ALTER TABLE [dbo].[T_STAFF_EDUCATION] CHECK CONSTRAINT [FK_T_STAFF_EDUCATION_M_EDUCATION_QUALIFICATION]
GO
/****** Object:  ForeignKey [FK_T_STAFF_EDUCATION_M_STAFF]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_STAFF_EDUCATION]  WITH CHECK ADD  CONSTRAINT [FK_T_STAFF_EDUCATION_M_STAFF] FOREIGN KEY([COMPANY_CD], [STAFF_ID])
REFERENCES [dbo].[M_STAFF] ([COMPANY_CD], [STAFF_ID])
GO
ALTER TABLE [dbo].[T_STAFF_EDUCATION] CHECK CONSTRAINT [FK_T_STAFF_EDUCATION_M_STAFF]
GO
/****** Object:  ForeignKey [FK_T_STAFF_CONTACT_M_STAFF]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[T_STAFF_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_T_STAFF_CONTACT_M_STAFF] FOREIGN KEY([COMPANY_CD], [STAFF_CD])
REFERENCES [dbo].[M_STAFF] ([COMPANY_CD], [STAFF_ID])
GO
ALTER TABLE [dbo].[T_STAFF_CONTACT] CHECK CONSTRAINT [FK_T_STAFF_CONTACT_M_STAFF]
GO
/****** Object:  ForeignKey [FK_MSG_MESSAGE_FOLDER_MSG_SUBJECT_PARTICIPANT]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_SUBJECT_FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_MSG_MESSAGE_FOLDER_MSG_SUBJECT_PARTICIPANT] FOREIGN KEY([SUBJECT_ID], [USER_ID])
REFERENCES [dbo].[MSG_SUBJECT_PARTICIPANT] ([SUBJECT_ID], [USER_ID])
GO
ALTER TABLE [dbo].[MSG_SUBJECT_FOLDER] CHECK CONSTRAINT [FK_MSG_MESSAGE_FOLDER_MSG_SUBJECT_PARTICIPANT]
GO
/****** Object:  ForeignKey [FK_MSG_SUBJECT_FOLDER_MSG_FOLDER]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_SUBJECT_FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_MSG_SUBJECT_FOLDER_MSG_FOLDER] FOREIGN KEY([FOLDER_CD])
REFERENCES [dbo].[MSG_FOLDER] ([FOLDER_CD])
GO
ALTER TABLE [dbo].[MSG_SUBJECT_FOLDER] CHECK CONSTRAINT [FK_MSG_SUBJECT_FOLDER_MSG_FOLDER]
GO
/****** Object:  ForeignKey [FK_MSG_MESAGES_USERS_MSG_MESSAGE]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_MESAGES_USERS]  WITH CHECK ADD  CONSTRAINT [FK_MSG_MESAGES_USERS_MSG_MESSAGE] FOREIGN KEY([MESSAGE_ID])
REFERENCES [dbo].[MSG_MESSAGE] ([MESSAGE_ID])
GO
ALTER TABLE [dbo].[MSG_MESAGES_USERS] CHECK CONSTRAINT [FK_MSG_MESAGES_USERS_MSG_MESSAGE]
GO
/****** Object:  ForeignKey [FK_MSG_ATTACHMENT_MSG_MESSAGE]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[MSG_ATTACHMENT]  WITH CHECK ADD  CONSTRAINT [FK_MSG_ATTACHMENT_MSG_MESSAGE] FOREIGN KEY([MESSAGE_ID])
REFERENCES [dbo].[MSG_MESSAGE] ([MESSAGE_ID])
GO
ALTER TABLE [dbo].[MSG_ATTACHMENT] CHECK CONSTRAINT [FK_MSG_ATTACHMENT_MSG_MESSAGE]
GO
/****** Object:  ForeignKey [FK_M_STAFF_BAND_SALARY_M_STAFF]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_STAFF_BAND_SALARY]  WITH CHECK ADD  CONSTRAINT [FK_M_STAFF_BAND_SALARY_M_STAFF] FOREIGN KEY([COMPANY_CD], [STAFF_ID])
REFERENCES [dbo].[M_STAFF] ([COMPANY_CD], [STAFF_ID])
GO
ALTER TABLE [dbo].[M_STAFF_BAND_SALARY] CHECK CONSTRAINT [FK_M_STAFF_BAND_SALARY_M_STAFF]
GO
/****** Object:  ForeignKey [FK_M_PERSON_M_ROLE]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_PERSON]  WITH CHECK ADD  CONSTRAINT [FK_M_PERSON_M_ROLE] FOREIGN KEY([ROLE_CD])
REFERENCES [dbo].[M_ROLE] ([ROLE_CD])
GO
ALTER TABLE [dbo].[M_PERSON] CHECK CONSTRAINT [FK_M_PERSON_M_ROLE]
GO
/****** Object:  ForeignKey [FK_M_PERSON_M_STAFF]    Script Date: 03/17/2013 16:08:24 ******/
ALTER TABLE [dbo].[M_PERSON]  WITH CHECK ADD  CONSTRAINT [FK_M_PERSON_M_STAFF] FOREIGN KEY([COMPANY_CD], [STAFF_ID])
REFERENCES [dbo].[M_STAFF] ([COMPANY_CD], [STAFF_ID])
GO
ALTER TABLE [dbo].[M_PERSON] CHECK CONSTRAINT [FK_M_PERSON_M_STAFF]
GO
