@using Microsoft.AspNet.Identity
@using Vap.EAdmin.Resources
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Home/ChangeLang?lang=en" title="English">
                    <img src="~/Content/Images/en.png" />
                </a>
            </li>
            <li>
                <a href="/Home/ChangeLang?lang=vi" title="Tiếng Việt">
                    <img src="~/Content/Images/vi.png" />
                </a>
            </li>
            <li>
                @Html.ActionLink(MenuText.Hello + " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Home/ChangeLang?lang=en" title="English">
                <img src="~/Content/Images/en.png" />
            </a>
        </li>
        <li>
            <a href="/Home/ChangeLang?lang=vi" title="Tiếng Việt">
                <img src="~/Content/Images/vi.png" />
            </a>
        </li>

        <li>@Html.ActionLink(MenuText.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(MenuText.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
