<connectionStrings>
    <remove name="wcms_db_connstring"/>
    <remove name="wcms_acc_connstring"/>
    <remove name="wcms_import_connstring"/>
    <remove name="wcms_ws_connstring"/>
    <remove name="wcms_ebiz_connstring"/>
    <add providerName="System.Data.SqlClient" name="wcms_db_connstring" connectionString="Data Source=.;uid=tim30s_demo;pwd=tim30s;database=www_lvtm_vn;Connection Timeout=3600;Pooling=true;Min Pool Size=1;Max Pool Size=3" />
    <add providerName="System.Data.SqlClient" name="wcms_lvtmvn_connstring" connectionString="Data Source=27.0.12.85;uid=tim30s_demo;pwd=tim30s;database=www_lvtm_vn;Connection Timeout=3600;Pooling=true;Min Pool Size=1;Max Pool Size=3" />
    <add providerName="System.Data.SqlClient" name="wcms_t30skhuyenmai_connstring" connectionString="" />
    <add providerName="System.Data.SqlClient" name="wcms_t30sdoitac_connstring" connectionString="" />
    <add providerName="System.Data.SqlClient" name="wcms_acc_connstring" connectionString="" />
    <add providerName="System.Data.SqlClient" name="wcms_import_connstring" connectionString="" />
    <add providerName="System.Data.SqlClient" name="wcms_ws_connstring" connectionString="" />
    <add providerName="System.Data.SqlClient" name="wcms_ebiz_connstring" connectionString="" />
</connectionStrings>