body {
    padding-top: 50px;
    padding-bottom: 20px;
}

font-face {
    font-family: 'Glyphicons Halflings';
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page_title {
    float: left;
    color: #23282d;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.panel_tool {
    margin-top: 10px;
    margin-right: 5px;
}

/*Search form*/
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 100%;
    }

.container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
}
/*Table*/
.th10
{
	width: 10px;
}

.th20
{
	width: 20px;
}
.th30
{
	width: 30px;
}
.th40
{
	width: 40px;
}
.th50
{
	width: 50px;
}
.th75
{
	width: 75px;
}
.th100
{
	width: 100px;
}
.th125
{
	width: 125px;
}
.th150
{
	width: 150px;
}
.th175
{
	width: 175px;
}
.th200
{
	width: 200px;
	margin-left: 3em;
}
.thFill
{
	/*Basic is fill*/
}

td.no-border
{
	border: none;
	z-index: 8;
}

pre
{
	font-size: 10pt;
	display: inline;
}

.center
{
	text-align: center;
}
/*--*/

table caption {
    padding: .5em 0;
}

@media screen and (max-width: 767px) {
    table caption {
        border-bottom: 1px solid #ddd;
    }
}

.p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
}
